mixin head( title )
	meta( charset='UTF-8' )
	meta( http-equiv='X-UA-Compatible' content='IE=edge' )
	meta( name='viewport' content='width=device-width, initial-scale=1' )
	link( href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700" rel="stylesheet" )
	title= title