/* post-box */
.post-box {
	width: 100%;
	margin: 0 auto;

	&__item {
		@extend %container_block;

		position: relative;

		background-color: #fff;
	}

	&__info-wrap {
		@extend %clearfix;

		text-align: center;
	}

}


/* postHeader */
.postHeader {
	padding: $base-lh;

	&__text {
		font-family: $ff_header;
		font-size: $fz4;
		font-weight: bold;
		line-height: $base-lh * 1.2;
		color: $c_text;

		@media ( min-width: 650px ) {
			font-size: $fz3;
		}
	}

	&__link {

		&:hover {
			color: lighten( $c_text, 20% );
		}
	}

	&__meta-info {
		@extend %rwcs;

		margin-top: $base-lh * 0.5;

		@media ( min-width: 650px ) {
			justify-content: flex-start;
		}
	}

	&__meta-item {
		width: 100%;

		@media ( min-width: 420px ) {
			width: auto;
		}
	}

	&__meta-text,
	&__meta-link {
		margin-right: $base-lh;

		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_sub_text;
	}

	&__meta-link {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__meta-icon {
		margin-right: 5px;

		font-size: $fz6;
		font-weight: bold;
		line-height: $base-lh;
	}
}

/* postThumbnail */
.postThumbnail {
	padding-top: $base-lh;
	padding-left: $base-lh;
	padding-right: $base-lh;
	padding-bottom: $base-lh * 0.5;
	margin-bottom: $base-lh;
	
	background-color: $c_text;

	@media ( min-width: 650px ) {
		float: left;

		margin-right: $base-lh;
		margin-bottom: 0;
	}


	&__img {
		display: block;

		width: 240px;
		height: 176px;
		margin: 0 auto;
	}

	&__social {
		@extend %rnfss;

		width: 240px;
		margin-top: $base-lh * 0.5;
		margin-left: auto;
		margin-right: auto;
	}

	&__social-item {
		flex-grow: 1;
	}

	&__social-link-vk,
	&__social-link-facebook,
	&__social-link-twitter,
	&__social-link-google {
		position: relative;
		z-index: 0;

		display: block;
		overflow: hidden;

		text-align: center;

		&::before {
			position: absolute;
			z-index: -1;

			display: block;
			content: '';

			width: 100%;
			height: 100%;

			transition: .3s;
		}
	}

	&__social-link-vk:hover::before { background-color: $c_vk; }
	&__social-link-facebook:hover::before { background-color: $c_facebook; }
	&__social-link-twitter:hover::before { background-color: $c_twitter; }
	&__social-link-google:hover::before { background-color: $c_google; }

	&__social-icon {
		font-size: $fz5;
		line-height: $base-lh * 1.5;
		color: #fff;
	}
}

/* postExcerpt */
.postExcerpt {	
	padding-top: $base-lh; 
	padding-left: $base-lh; 
	padding-right: $base-lh; 
	padding-bottom: $base-lh; 

	@media ( min-width: 650px ) {
		padding-top: 0; 
	}

	&__text-wrap {
		@media ( min-width: 650px ) {
			height: $base-lh * 8.5; 
		}
	}

	&__text {
		overflow: hidden;

		max-height: $base-lh * 8;

		font-family: $ff_text;
		font-size: $fz5;
		line-height: $base-lh;
		color: $c_text;
		text-align: left;
	}

	&__btn-wrap {
		@extend %rncs;

		margin-top: $base-lh;

		@media ( min-width: 650px ) {
			justify-content: flex-end;

			margin-top: 0;
		}
	}

	&__btn {
		@extend %large_btn;
	}
}

/* postContent */
.postContent {
	padding-left: $base-lh; 
	padding-right: $base-lh; 
	padding-bottom: $base-lh; 

	font-family: $ff_text;
	font-size: $fz5;
	line-height: $base-lh;
	color: $c_text; 
	text-align: left;

	h2 {
		font-family: $ff_header;
		font-size: $fz4;
		font-weight: bold;
	}

	img {
		display: block;

		width: 100%;
		margin: $base-lh 0;
	}

	a {
		font-family: $ff_header;
		color: $c_accent;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	b {
		font-weight: bold;
	}
}