doctype html
html
	head
		meta( charset='UTF-8' )
		meta( http-equiv='X-UA-Compatible' content='IE=edge' )
		meta( name='viewport' content='width=device-width, initial-scale=1' )
		//- link( rel='stylesheet' href='/style.min.css' )
	body
		.wrapper
			//-topLine
			.top-line
				a.top-line__logo( href='#' ) Hyipodrom.com
				.top-line__log-wrap
					a.top-line__reg-btn( href='#' ) Регистрация
					a.top-line__log-btn( href='#' ) Вход
			.fuck-line
		script( src='/app.min.js' )