/* hyipItem */
.hyipItem {
	@extend %container_block;

	padding: $base-lh;

	background-color: #fff;

}

/* hyipItemHeader */
.hyipItemHeader {

	margin-bottom: $base-lh * 2;

	&__text {
		font-family: $ff_header;
		font-size: $fz4;
		font-weight: bold;
		line-height: $base-lh * 1.2;
		color: $c_text;
		text-align: center;

		@media ( min-width: 650px ) {
			font-size: $fz3;
		}
	}

	&__meta-info {
		@extend %rwcs;

		margin-top: $base-lh * 0.5;
	}

	&__meta-item {
		width: 100%;

		@media ( min-width: 420px ) {
			width: auto;
		}
	}

	&__meta-text,
	&__meta-link {
		margin-right: $base-lh;

		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_sub_text;
	}

	&__meta-text.hyipHeader__meta-text--accent {
		color: $c_text;
	}

	&__meta-link {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__meta-icon {
		margin-right: 5px;

		font-size: $fz6;
		font-weight: bold;
		line-height: $base-lh;
	}

	&__meta-btn { 
		font-size: $fz5;
		color: $c_star;

		&:hover {
			transform: scale(1.2);
		}
	}
}

/* hyipItemMoney */
.hyipItemMoney {

	margin-bottom: $base-lh * 2;
	
	&__item-box {
		@extend %rnfss;

		margin-bottom: $base-lh * 2;
	}

	&__item {
		width: 100%;
	}

	&__title {
		font-family: $ff_header;
		font-size: $fz7;
		line-height: $base-lh;
		color: $c_sub_text;
		text-align: center;

		@media ( min-width: 420px ) {
			font-size: $fz6;
		}
	}

	&__value-wrap {
		@extend %rncs;
	}

	&__value {
		font-family: $ff_text;
		font-size: $fz4;
		line-height: $base-lh * 2;
		color: $c_text;

		@media ( min-width: 420px ) {
			font-size: $fz3;
		}

		&.hyipItemMoney__value--investors {
			color: $c_sub_accent;
		}
	}

	&__position-wrap {
		position: relative;
	}

	&__icon-wrap {
		position: absolute;
		top: 11px;
		right: -20px;
	}

	&__tooltip-icon {
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_accent;
	}

	&__btn-wrap {
		@extend %rncs;
	}

	&__btn {
		@extend %large_btn;
	}
}

/* hyipItemPlans */
.hyipItemPlans {

	margin-bottom: $base-lh * 2;

	&:hover {
	
		.sectionHeader__line-left::after,
		.sectionHeader__line-right::after {
			width: 100%;
		}
	}

	&__table-wrap {
		overflow-x: scroll;

		@media ( min-width: 700px + $base-lh * 2 ) {
			overflow: visible;
		}
	}

	&__table {
		width: 600px;
		border-collapse: collapse;
		margin-top: $base-lh;

		@media ( min-width: 420px ) {
			width: 700px;
		}

		@media ( min-width: 700px + $base-lh * 2 ) {
			width: 100%;
		}
	}

	&__row {
		border: 1px solid $c_links;
	} 

	&__header-cell {
		height: $base-lh * 2;
		vertical-align: middle;

		font-family: $ff_header;
		font-size: $fz7;
		line-height: $base-lh * 0.8;
		color: $c_sub_text;
		text-align: center;

		@media ( min-width: 420px ) {
			font-size: $fz6;
		}
	}

	&__cell {
		height: $base-lh * 2;
		vertical-align: middle;

		font-family: $ff_text;
		font-size: $fz6;
		font-weight: bold;
		line-height: $base-lh;
		color: $c_text;
		text-align: center;

		@media ( min-width: 420px ) {
			font-size: $fz5;
		}

		&.hyipItemPlans__cell--green { color: $c_sub_accent; }
		&.hyipItemPlans__cell--red { color: $c_dead; }
	}

	&__tooltip-icon {
		margin-left: 5px;

		font-size: $fz6;
		line-height: $base-lh * 0.8;
		color: $c_accent;
	}
}

/* hyipItemProfit */
.hyipItemProfit {

	margin-bottom: $base-lh;

	&:hover {
	
		.sectionHeader__line-left::after,
		.sectionHeader__line-right::after {
			width: 100%;
		}
	}

	&__text {
		margin: $base-lh 0;

		font-family: $ff_text;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_text;

		@media ( min-width: 420px ) {
			font-size: $fz5;
		}
	}

	&__chart-wrap {
		overflow-x: scroll;

		@media ( min-width: 700px + $base-lh * 2 ) {
			overflow: visible;
		}
	}

	&__chart {
		width: 700px;
		height: $base-lh * 10;
		margin-bottom: $base-lh;

		@media ( min-width: 700px + $base-lh * 2 ) {
			width: 100%;
		}
	}

	/* ------------------------------- */

	&__form-wrap {
		@extend %rwcs;

		// @media ( min-width: 420px ) {
		// 	height: $base-lh * 2;
		// }
	}

	&__label-wrap {
		@extend %rncc;

		width: 100%;
		height: $base-lh * 2;
		
		@media ( min-width: 420px ) {
			justify-content: flex-end;

			width: 41%;
			padding-right: $base-lh;
		}
	}

	&__input-wrap,
	&__select-wrap {
		@extend %rncc;

		width: 100%;	

		@media ( min-width: 420px ) {
			justify-content: flex-start;

			width: 59%;	
		}
	}

	&__input#deposit { 
		margin-left: 15px; 

		@media ( min-width: 420px ) {
			margin-left: 0;
		}
	}

	&__btn-wrap {
		@extend %rncs;

		margin-top: $base-lh;

		@media ( min-width: 420px ) {
			justify-content: flex-start;

			margin-top: $base-lh * 0.5;
			margin-left: 41%;
		}
	}

	/* ------------------------------- */

	&__select-input {
		display: none;
	}

	&__select {
		position: relative;

		font-family: $ff_text;
		font-size: $fz5;
		line-height: $base-lh;
		color: $c_text;
		text-align: center;
	}

	&__select-icon {
		position: absolute;
		top: 11px;
		right: 6px;

		font-size: $fz7;
		color: $c_text;
	}

	&__select-value {
		@extend %rncc;

		width: 130px;
		height: 32px;

		background-color: $c_links;
		box-shadow: inset 0.8px 0.6px 1px $c_sub_text;
	}

	&__option-box {
		position: absolute;
		left: 0;
		top: 100%;

		display: none;
		width: 100%;

		background-color: $c_links;

		&.hyipItemProfit__option-box--open { display: block; }
	}

	&__option {
		cursor: pointer;
		user-select: none;

		&:hover {
			color: #fff;

			background-color: $c_text;
		}
	}

	/* ------------------------------- */

	&__label {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_sub_text;
	}

	&__input {
		@extend %form_input;

		width: 130px;
		height: 32px;

		text-align: center;
	}

	&__icon {
		margin-left: 5px;

		font-size: $fz5;
		color: $c_text;
	}

	/* ------------------------------- */

	&__checkbox-input {
		display: none;
	}

	&__checkbox {
		@extend %rncc;

		width: $base-lh;
		height: $base-lh;

		background-color: $c_links;
		box-shadow: inset 0.8px 0.6px 1px $c_sub_text;

		.hyipItemProfit__checkbox-input:checked + & {

			& .hyipItemProfit__checkbox-icon { opacity: 1; }
		}

		.hyipItemProfit__checkbox-input:disabled + & {
			background-color: #fff;
		}
	}

	&__checkbox-icon {
		font-size: $fz4;
		color: $c_text;

		opacity: 0;
	}

	/* ------------------------------- */

	&__submit {
		@extend %large_btn;
	}

}