//hyipAboutThumbnail
.hyipAboutThumbnail
	.hyipAboutThumbnail__img-wrap
		img.hyipAboutThumbnail__img( src="../../img/slider_1.jpg" )
	.hyipAboutThumbnail__link-wrap
		a.hyipAboutThumbnail__link( href="/" ) https://meetfreeman.biz