//hyipAboutInfo
ul.hyipAboutInfo
	li.hyipAboutInfo__item
		h3.hyipAboutInfo__title Статус
		p.hyipAboutInfo__value.hyipAboutInfo__value--alive Жив
	li.hyipAboutInfo__item
		h3.hyipAboutInfo__title Работает
		p.hyipAboutInfo__value 36 дней
	li.hyipAboutInfo__item
		h3.hyipAboutInfo__title Тип выплат
		p.hyipAboutInfo__value ручные
	li.hyipAboutInfo__item
		h3.hyipAboutInfo__title Мин.вклад
		p.hyipAboutInfo__value 10$
	li.hyipAboutInfo__item
		h3.hyipAboutInfo__title Мин.вывод
		p.hyipAboutInfo__value -
	li.hyipAboutInfo__item
		h3.hyipAboutInfo__title Комиссия вывода
		p.hyipAboutInfo__value -
	li.hyipAboutInfo__item
		h3.hyipAboutInfo__title Реф.программа
		p.hyipAboutInfo__value 5%
	li.hyipAboutInfo__item
		h3.hyipAboutInfo__title Языки
		p.hyipAboutInfo__value Английский
	li.hyipAboutInfo__item
		h3.hyipAboutInfo__title Платежные системы
		ul.hyipAboutInfo__paysystems
			li.hyipAboutInfo__paysystem-item
				button.paysystem__perfectMoney( type="button" )
			li.hyipAboutInfo__paysystem-item
				button.paysystem__bitcoin( type="button" )
			li.hyipAboutInfo__paysystem-item
				button.paysystem__okPay( type="button" )
			li.hyipAboutInfo__paysystem-item
				button.paysystem__visa( type="button" )
	li.hyipAboutInfo__item
		h3.hyipAboutInfo__title Скрипт
		p.hyipAboutInfo__value самописный
	li.hyipAboutInfo__item
		h3.hyipAboutInfo__title Защита от DDOS
		p.hyipAboutInfo__value CloudFlare
	li.hyipAboutInfo__item
		h3.hyipAboutInfo__title SSL
		p.hyipAboutInfo__value COMODO