//hyipExcerpt
.hyipExcerpt
	.hyipExcerpt__text
		.hyipExcerpt__text-wrap
			p 1.8% в день на 20 дней
			p 2.1% в день на 30 дней
			p 2.4% в день на 40 дней
			p 2.5% в день на 50 дней
	ul.hyipExcerpt__deposits
		li.hyipExcerpt__deposit-item
			h3.hyipExcerpt__deposit-header Наш вклад
			p.hyipExcerpt__deposit-value 720$
		li.hyipExcerpt__deposit-item
			h3.hyipExcerpt__deposit-header Ваш вклад
			p.hyipExcerpt__deposit-value.hyipExcerpt__deposit-value--investors 320$
		li.hyipExcerpt__deposit-item
			h3.hyipExcerpt__deposit-header Страховка
			p.hyipExcerpt__deposit-value 1000$
	.hyipExcerpt__btn-wrap
		a.hyipExcerpt__btn( href="/hyip.html" ) Подробнее
