// hyipBox
ul.hyip-box
	include hyipItemExcerpt.pug
	include hyipItemExcerptDead.pug
	include hyipItemExcerpt.pug
	include hyipItemExcerpt.pug
	include hyipItemExcerpt.pug
	include hyipItemExcerpt.pug
	include hyipItemExcerpt.pug
	include hyipItemExcerpt.pug
	include hyipItemExcerpt.pug
	include hyipItemExcerpt.pug