// custom font-face

@mixin my-font($name, $eot: false, $otf: false, $ttf: false, $woff: false, $woff2: false, $weight: normal, $style: normal) {
	@font-face {
		font-family: "#{$name}";
		$result: "";
		@if $eot == true {
			$result: $result + 'url("../fonts/#{$name}.eot"),';
			$result: $result + 'url("../fonts/#{$name}.eot?#iefix") format("embedded-opentype")';
		}
		@if $otf == true {
			@if $result != "" {
				$result: $result + ',';
			}
			$result: $result + 'url("../fonts/#{$name}.otf") format("opentype")';
		}
		@if $ttf == true {
			@if $result != "" {
				$result: $result + ',';
			}
			$result: $result + 'url("../fonts/#{$name}.ttf") format("truetype")';
		}
		@if $woff == true {
			@if $result != "" {
				$result: $result + ',';
			}
			$result: $result + 'url("../fonts/#{$name}.woff") format("woff")';
		}
		@if $woff2 == true {
			@if $result != "" {
				$result: $result + ',';
			}
			$result: $result + 'url("../fonts/#{$name}.woff2") format("woff2")';
		}
		src: #{$result};
		font-weight: $weight;
		font-style: $style;
	}
}