mixin sectionHeader( text, light )
	.sectionHeader
		.sectionHeader__line-left
		if light
			h1.sectionHeader__text.sectionHeader__text--light= text
		else
			h1.sectionHeader__text= text
		.sectionHeader__line-right