$base-fz: 16px;
$base-lh: 22px;

// colors
$c_accent: #ff5b24;  // оранжевый
$c_sub_accent: #58cf60;  // зеленый
$c_text: #2f2f2f; // темно серый
$c_sub_text: #999999; // серый
$c_links: #cccccc; // светло серый
$c_block_bg: #fff;
$c_main_bg: #eeeeee; // чуть желтоватый
$c_star: #ffcd34; // оранжевый
$c_dead: #ff2c2c; // красный

$c_vk: #5075A5;
$c_facebook: #3B5998;
$c_twitter: #01B9F5;
$c_google: #D44132;

$c_link_bg_transition: linear-gradient( to top, $c_main_bg, transparent );
 
// font family
$ff_logo: 'linux-biolinum', sans-serif;
$ff_header: 'Roboto Slab', serif;
$ff_text: 'Roboto', sans-serif;

// font size
$fz1: $base-fz * 2.074; // 33px
$fz2: $base-fz * 1.728; // 28px
$fz3: $base-fz * 1.44;	// 23px
$fz4: $base-fz * 1.2;	// 19px
$fz5: $base-fz;			// 16px
$fz6: $base-fz * 0.833; // 13px
$fz7: $base-fz * 0.694;	// 11px
$fz8: $base-fz * 0.579;	// 9px