li.post-box__item
	.post-box__header-wrap
		h1.post-box__item-header 
			a.post-box__item-header-link( href="/" ) Hyipodrom.com - не просто TOP, а топовый во всём всего за год! Только факты, без флуда!
		ul.post-box__item-meta-info
			li.post-box__item-meta-item
				a.post-box__item-meta-link( href="/" )
					i.fa.fa-list-ul.post-box__item-meta-icon
					| Новичкам
			li.post-box__item-meta-item
				span.post-box__item-meta-text
					i.fa.fa-calendar.post-box__item-meta-icon
					| 12.11.2016
			li.post-box__item-meta-item
				a.post-box__item-meta-link( href="/" )
					i.fa.fa-comments.post-box__item-meta-icon
					| 146 комментариев
			li.post-box__item-meta-item
				span.post-box__item-meta-text
					i.fa.fa-eye.post-box__item-meta-icon
					| 546 просмотров
	.post-box__info-wrap
		.post-box__item-thumbnail
			a.post-box__item-thumbnail-link( href="/" )
				img.post-box__item-img( src=require( '../../img/post_image.jpg' ) )
			ul.post-box__item-social
				li.post-box__item-social-item
					a.post-box__item-social-link-vk( href="/" )
						i.fa.fa-vk.post-box__item-social-icon
				li.post-box__item-social-item
					a.post-box__item-social-link-facebook( href="/" )
						i.fa.fa-facebook.post-box__item-social-icon
				li.post-box__item-social-item
					a.post-box__item-social-link-twitter( href="/" )
						i.fa.fa-twitter.post-box__item-social-icon
				li.post-box__item-social-item
					a.post-box__item-social-link-google( href="/" )
						i.fa.fa-google-plus.post-box__item-social-icon
		.post-box__item-info
			p.post-box__item-excerpt Предлагаю всем, кто читает этот блог, посмотреть на наши с Вами достижения! Конечно, главные здесь инвесторы и без Вас, это всё невозможно! Вы вместе с нами топы и всем здесь заправляете :) Впереди еще много времени, не словом, а делом :) Предлагаю всем, кто читает этот блог, посмотреть на наши с Вами достижения! Конечно, главные здесь инвесторы и без Вас, это всё невозможно!
			.post-box__item-btn-wrap
				a.post-box__item-btn( href="/" ) Читать