include ../sectionHeader/sectionHeader.pug
include categoriesItem.pug

// categories
.categories
	+sectionHeader( 'Разделы' )
	ul.categories__item-box
		+categoriesItem( 'Новичкам' )
		+categoriesItem( 'Новости' )
		+categoriesItem( 'Обзоры' )
		+categoriesItem( 'Отсчеты' )
		+categoriesItem( 'Интервью' )
		+categoriesItem( 'Аналитика' )