include ../sectionHeader/sectionHeader.pug

// categories
.categories
	+sectionHeader( 'Разделы' )
	ul.categories__item-box
		li.categories__item
			a.categories__item-link( href="/" ) Новичкам
		li.categories__item
			a.categories__item-link( href="/" ) Новости
		li.categories__item
			a.categories__item-link( href="/" ) Обзоры
		li.categories__item
			a.categories__item-link( href="/" ) Отсчеты
		li.categories__item
			a.categories__item-link( href="/" ) Интервью
		li.categories__item
			a.categories__item-link( href="/" ) Аналитика