include ../sectionHeader/sectionHeader.pug
include categoriesItem.pug

// categories
.categories
	+sectionHeader( 'Разделы' )
	ul.categories__item-box
		+categoriesItem( 'Рекомендумые' )
		+categoriesItem( 'Низкодоходные' )
		+categoriesItem( 'Среднедоходные' )
		+categoriesItem( 'Высокодоходные' )
		+categoriesItem( 'Со страховкой' )
		+categoriesItem( 'Морг' )