/* tabs */
.tabs {
	@extend %container_block;

	background-color: #fff;

	&__btn-box {
		@extend %rnfss;
	}

	&__btn-item {
		flex-grow: 1;
	}

	&__btn {
		position: relative;

		width: 100%;
		border: 1px solid $c_main_bg;

		font-family: $ff_header;
		font-size: $fz6;
		font-weight: bold;
		line-height: $base-lh * 2;
		color: $c_text;

		&::after {
			position: absolute;
			top: -1px;
			left: 0;

			display: block;
			content: '';

			width: 100%;
			height: 0px;

			background-color: $c_accent;
		}

		&:hover::after,
		&.tabs__btn--active::after { height: 2px; }
	}

	&__pane-item {
		display: none;
		padding: $base-lh;

		&.tabs__pane-item--active {
			display: block;
		}
	}

	&__list-item {
		@extend %rnfss;

		&:not( :last-child ) {
			margin-bottom: $base-lh;
		}
	}

	&__list-img {
		display: block;

		width: 120px;
		height: $base-lh * 4;
	}

	&__list-info {
		margin-left: $base-lh;
	}

	&__list-header-link {
		font-family: $ff_header;
		font-size: $fz5;
		line-height: $base-lh;
		font-weight: bold;
		color: $c_text;

		&:hover {
			color: lighten( $c_text, 20% );
		}
	}

	&__list-meta-icon {
		margin-right: 5px;

		font-size: $fz6;
		font-weight: bold;
		line-height: $base-lh;
		color: $c_sub_text;
	}

	&__list-meta-text, 
	&__list-meta-link {
		font-family: $ff_header;
		font-size: $fz6;
		font-weight: bold;
		line-height: $base-lh;
		color: $c_sub_text;
	}

	&__list-meta-link {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}