// tabs
.tabs
	ul.tabs__btn-box
		li.tabs__btn-item
			button.tabs__btn( type="button" data-index=1 ) Новые
		li.tabs__btn-item
			button.tabs__btn( type="button" data-index=2 ) Популярные
		li.tabs__btn-item
			button.tabs__btn( type="button" data-index=3 ) Комментируемые
	ul.tabs__pane-box
		li.tabs__pane-item( data-index=1 ) 1
		li.tabs__pane-item( data-index=2 ) 2
		li.tabs__pane-item( data-index=3 ) 3