//- mixins
include ../components/head/head.pug
//- states
- var page = 'user';

html
	head
		+head( 'личный кабинет' )
	body
		// wrapper
		div.wrapper
			a.wrapper__link( href="#ad" )
				img.wrapper__img( src=require( '../img/ad_bg.jpg' ) )
			include ../components/header/header.pug
			include ../components/mainMenu/mainMenu.pug
			include ../components/slider/slider.pug
			// main
			main.main
				include ../components/userInfo/userInfo.pug
				// post
				section#post.post
					include ../components/userCabinet/userCabinet.pug
				//- // sidebar
				//- aside.sidebar				
			include ../components/footer/footer.pug
		include ../components/upButton/upButton.pug
		include ../components/tooltip/tooltip.pug
		include ../components/modals/modals.pug
		script( src='https://www.gstatic.com/charts/loader.js' )
		include ./globalData.pug