/* modals */
.modals {

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;

		display: none;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;

		overflow-y: auto;
		
		width: 100%;
		height: 100%;

		background-color: rgba( 47, 47, 47, .95 );
		opacity: 0;
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;

		width: $base-lh;
		height: $base-lh;

		font-size: $fz5;
		color: $c_text;

		transition: .3s;

		&:hover {
			color: $c_accent;
		}
	}
}

/* refbackModal */
.refbackModal {
	@extend %container_block;

	position: relative;

	width: 90%;
	padding: $base-lh;

	background-color: #fff;

	@media ( min-width: 480px ) {
		width: 420px;
	}

	&__header {
		font-family: $ff_header;
		font-size: $fz4;
		font-weight: bold;
		line-height: $base-lh;
		color: $c_text;
		text-align: center;
	}

	&__text {
		margin: $base-lh 0;

		font-family: $ff_text;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_text;
	}

	&__link {
		color: $c_accent;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__form {
		text-align: center;
	}

	&__input {
		@extend %form_input;

		width: 100%;
		height: $base-lh * 1.5;
		margin-bottom: $base-lh;

		@media ( min-width: 480px ) {
			width: 80%;
		}
	}

	&__select-wrap {
		display: inline-block;

		width: 100%;

		text-align: center;

		@media ( min-width: 480px ) {
			width: 80%;
		}
	}

	&__select {
		display: none;
	}

	&__pseudo-select {
		position: relative;
	}

	&__pseudo-select-icon {
		position: absolute;
		top: 11px;
		right: 6px;

		font-size: $fz7;
		color: $c_text;
	}

	&__pseudo-select-value {
		@extend %form_input;

		display: inline-block;

		width: 100%;
		height: $base-lh * 1.5;
		margin-bottom: $base-lh;

		line-height: $base-lh * 1.5;
		text-align: left;
	}

	&__pseudo-option-box {
		position: absolute;
		top: $base-lh * 1.5;
		left: 0;

		display: none;

		width: 100%;

		&.refbackModal__pseudo-option-box--open {
			display: block;
		}
	}

	&__pseudo-option {
		padding-left: 15px;
		padding-right: 15px;

		font-family: $ff_text;
		font-size: $fz5;
		line-height: $base-lh;
		color: $c_text;
		text-align: left;

		background-color: $c_links;

		cursor: pointer;

		&:hover {
			color: #fff;

			background-color: $c_text;
		}
	}

	&__submit {
		@extend %large_btn;
	}
}

/* addHyipModal */
.addHyipModal {
	@extend %container_block;

	position: relative;

	width: 90%;
	padding: $base-lh;

	background-color: #fff;

	@media ( min-width: 480px ) {
		width: 420px;
	}

	&__header {
		font-family: $ff_header;
		font-size: $fz4;
		font-weight: bold;
		line-height: $base-lh;
		color: $c_text;
		text-align: center;
	}

	&__text {
		margin: $base-lh 0;

		font-family: $ff_text;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_text;
	}

	&__form {
		text-align: center;
	}

	&__input {
		@extend %form_input;

		width: 100%;
		height: $base-lh * 1.5;
		margin-bottom: $base-lh;

		@media ( min-width: 480px ) {
			width: 80%;
		}
	}

	&__submit {
		@extend %large_btn;
	}
}

/* mobileMenuModal */
.mobileMenuModal {
	@extend %container_block;

	position: relative;

	width: 90%;
	padding: $base-lh;

	background-color: #fff;

	&__nav-item {
		@extend %rnfss;
	}

	&__nav-link {
		width: 100%;

		font-family: $ff_header;
		font-size: $fz5;
		font-weight: bold;
		line-height: $base-lh* 2;
		color: $c_text;
		text-align: center;

		transition: .3s;

		&:hover {
			color: $c_accent;
		}
	}
}

/* regModal */
.regModal {
	@extend %container_block;

	position: relative;

	width: 90%;
	padding: $base-lh;

	background-color: #fff;

	@media ( min-width: 480px ) {
		width: 420px;
	}

	&__header {
		margin-bottom: $base-lh;

		font-family: $ff_header;
		font-size: $fz4;
		font-weight: bold;
		line-height: $base-lh;
		color: $c_text;
		text-align: center;
	}

	&__required-label {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_dead;
	}

	&__input {
		@extend %form_input;

		width: 100%;
		height: $base-lh * 1.5;
		margin-bottom: $base-lh;
		border: 1px solid transparent;

		@media ( min-width: 480px ) {
			width: 80%;
		}

		&.regModal__input--error { 
			border: 1px solid $c_dead; 
			box-shadow: inset 0.8px 0.6px 1px $c_dead;
		}

		&.regModal__input--valid { 
			border: 1px solid $c_sub_accent;
			box-shadow: inset 0.8px 0.6px 1px $c_sub_accent; 
		}
	}

	&__submit-wrap {
		text-align: center;
	}

	&__submit {
		@extend %large_btn;

		position: relative;
	}

	&__loader-wrap {
		display: none;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;

		position: absolute;
		top: 0;
		right: -50px;

		height: $base-lh * 2;

		&.regModal__loader-wrap--active { display: flex; }
	}

	&__error-container {
		width: 100%;
		margin-bottom: $base-lh;

		@media ( min-width: 480px ) {
			width: 80%;
		}

		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_dead; 
	}
}