mixin scopeTranseferer
	// in order to see the global scope for the code below
	// the partial must declare some mixin

//-------------------------------------------

// modals
.modals
	.modals__overlay( data-modal-window="refback" )
		.refbackModal
			button.modals__close( type='button' )
				i.fa.fa-close.modals__close-icon
			h1.refbackModal__header Заказать рефбек
			p.refbackModal__text Для заказа рефбека, Вы должны зарегестрироваться в проекте по нашим партнерским ссылкам. Также обязательно ознакомтесь с 
				a.refbackModal__link( href="/" ) правилами выплат рефбеков
				|.
			form.refbackModal__form
				input.refbackModal__input( type='text' placeholder="Название проекта" )
				input.refbackModal__input( type='text' placeholder="Логин в проекте" )
				input.refbackModal__input( type='text' placeholder="Вклад, $" )
				.refbackModal__select-wrap
					select.refbackModal__select( name="paySystem" )
						option( value="perfectMoney" ) PerfectMoney
						option( value="payeer" ) Payeer
						option( value="bitcoin" ) Bitcoin
						option( value="advancedCash" ) Advanced Cach
						option( value="qiwi" ) Qiwi
						option( value="yandex" ) Яндекс.Деньги
						option( value="nixMoney" ) NixMoney
					.refbackModal__pseudo-select
						.refbackModal__pseudo-select-value
						i.fa.fa-chevron-down.refbackModal__pseudo-select-icon
						ul.refbackModal__pseudo-option-box
							li.refbackModal__pseudo-option( data-value="perfectMoney" ) PerfectMoney
							li.refbackModal__pseudo-option( data-value="payeer" ) Payeer
							li.refbackModal__pseudo-option( data-value="bitcoin" ) Bitcoin
							li.refbackModal__pseudo-option( data-value="advancedCash" ) Advanced Cach
							li.refbackModal__pseudo-option( data-value="qiwi" ) Qiwi
							li.refbackModal__pseudo-option( data-value="yandex" ) Яндекс.Деньги
							li.refbackModal__pseudo-option( data-value="nixMoney" ) NixMoney
				input.refbackModal__input( type='text' placeholder="Номер кошелька" )
				input.refbackModal__input( type='text' placeholder="Email" )
				button.refbackModal__submit Заказать
	.modals__overlay( data-modal-window="addHyip" )
		.addHyipModal
			button.modals__close( type='button' )
				i.fa.fa-close.modals__close-icon
			h1.addHyipModal__header Добавить проект
			p.addHyipModal__text Проекты проходят модерацию и за нами остается право добавлять проект в каталог или нет 
			form.addHyipModal__form
				input.addHyipModal__input( type="text" placeholder="URL" )
				button.addHyipModal__submit Добавить
	.modals__overlay( data-modal-window="mobileMenu" )
		.mobileMenuModal
			button.modals__close( type='button' )
				i.fa.fa-close.modals__close-icon
			ul.mobileMenuModal__nav
				li.mobileMenuModal__nav-item 
					a.mobileMenuModal__nav-link( href="/" ) Блог
				li.mobileMenuModal__nav-item
					a.mobileMenuModal__nav-link( href="/hyip_index.html"  ) Хайпы
				li.mobileMenuModal__nav-item
					button.mobileMenuModal__nav-link( type="button" data-modal-trigger="addHyip" ) Добавить хайп
				li.mobileMenuModal__nav-item
					button.mobileMenuModal__nav-link( type="button" data-modal-trigger="refback" ) Рефбек
				li.mobileMenuModal__nav-item
					a.mobileMenuModal__nav-link( href="/" ) Реклама
	.modals__overlay( data-modal-window="registration" )
		.regModal
			button.modals__close( type='button' )
				i.fa.fa-close.modals__close-icon
			h1.regModal__header Регистрация
			form.regModal__form( method="post" action="" )
				.regModal__input-wrap
					input#regLogin.regModal__input( type="text" name="login" placeholder="Логин" )
				.regModal__input-wrap
					input#regEmail.regModal__input( type="email" name="email" placeholder="Email" )
				.regModal__input-wrap
					input#regPwd.regModal__input( type="password" name="password" placeholder="Пароль" )
				.regModal__input-wrap
					input#regPwdRepeat.regModal__input( type="password" name="password_repeat" placeholder="Повтор пароля" )
				ul#regErrorContainer.regModal__error-container
				.regModal__submit-wrap
					button.regModal__submit Регистрация
						.regModal__loader-wrap
							img.regModal__loader( src=require( '../img/spin.svg' ) alt="Загрузка..." )
				