// main-menu
nav.main-menu
	ul.main-menu__nav
		li.main-menu__nav-item 
			a.main-menu__nav-link( href="/" ) Блог
		li.main-menu__nav-item
			a.main-menu__nav-link( href="/" ) Хайпы
		li.main-menu__nav-item
			a.main-menu__nav-link( href="/" ) Добавить хайп
		li.main-menu__nav-item
			a.main-menu__nav-link( href="/" ) Рефбек
		li.main-menu__nav-item
			a.main-menu__nav-link( href="/" ) Реклама
	form.main-menu__search
		input.main-menu__search-input( type="text" placeholder="Поиск" )
		button.main-menu__search-btn
			i.fa.fa-search.main-menu__search-icon