/* tooltip */
.tooltips {
	display: none;
}

/* depostiTooltip */
.depositTooltip {
	width: 200px;

	&__item {
		@extend %rnsbs;
	}

	&__title {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: #fff;
	}

	&__value {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_sub_text;
	}
}

/* plansTooltip */
.plansTooltip {
	width: 300px;

	p {
		font-family: $ff_text;
		font-size: $fz6;
		line-height: $base-lh * 0.8;
		color: #fff;

		&:not( :last-child ) {
			margin-bottom: $base-lh * 0.8;
		}
	}

	&__red { color: $c_dead; }
	&__green { color: $c_sub_accent; }
}