//- mixins
include ../sectionHeader/sectionHeader.pug

mixin hyipAboutThumbnail()
	//hyipAboutThumbnail
	.hyipAboutThumbnail
		.hyipAboutThumbnail__img-wrap
			img.hyipAboutThumbnail__img( src="./img/slider_1.jpg" )
		.hyipAboutThumbnail__link-wrap
			a.hyipAboutThumbnail__link( href="/" ) https://meetfreeman.biz

//-----------------------------------------------------------------------

mixin hyipAboutItem( title, value )
	li.hyipAboutInfo__item
		h3.hyipAboutInfo__title= title
		p.hyipAboutInfo__value= value

//-----------------------------------------------------------------------

mixin hyipAboutInfo()
	//hyipAboutInfo
	ul.hyipAboutInfo
		li.hyipAboutInfo__item
			h3.hyipAboutInfo__title Статус
			p.hyipAboutInfo__value.hyipAboutInfo__value--alive Жив
		+hyipAboutItem( 'работает', '36 дней' )
		+hyipAboutItem( 'Тип выплат', 'ручные' )
		+hyipAboutItem( 'Мин.вклад', '10$' )
		+hyipAboutItem( 'Мин.вывод', '-' )
		+hyipAboutItem( 'Комиссия вывода', '-' )
		+hyipAboutItem( 'Реф.программа', '5%' )
		+hyipAboutItem( 'Языки', 'Английский' )
		li.hyipAboutInfo__item
			h3.hyipAboutInfo__title Платежные системы
			ul.hyipAboutInfo__paysystems
				li.hyipAboutInfo__paysystem-item
					button.paysystem__perfectMoney( type="button" )
				li.hyipAboutInfo__paysystem-item
					button.paysystem__bitcoin( type="button" )
				li.hyipAboutInfo__paysystem-item
					button.paysystem__okPay( type="button" )
				li.hyipAboutInfo__paysystem-item
					button.paysystem__visa( type="button" )
		+hyipAboutItem( 'Скрипт', 'самописный' )
		+hyipAboutItem( 'Защита от DDOS', 'CloudFlare' )
		+hyipAboutItem( 'SSL', 'COMODO' )

//-----------------------------------------------------------------------

//hyipAbout
.hyipAbout
	.hyipAbout__wrap
		+sectionHeader( 'О проекте', true )
		.hyipAbout__body-wrap
			+hyipAboutThumbnail()
			+hyipAboutInfo()