//- mixins

mixin sliderItem( imgSrc, title )
	.sliderItem
		a.sliderItem__link( href='/hyip.html' )
			img.sliderItem__img( src= imgSrc )
			.sliderItem__popup
				h2.sliderItem__header= title
				ul.sliderItem__info
					li.sliderItem__info-item
						span.sliderItem__info-title Ваш вклад
						span.sliderItem__info-value.sliderItem__info-value--investor 320$
					li.sliderItem__info-item
						span.sliderItem__info-title Наш вклад
						span.sliderItem__info-value 720$
					li.sliderItem__info-item
						span.sliderItem__info-title Страховка
						span.sliderItem__info-value 1000$

//-----------------------------------------------------------------

// slider
section.slider
	.slider__wrap
		button.slider__prev-btn( type="button" )
			i.fa.fa-chevron-left.slider__btn-icon
		.slider__item-box
			#slider
				+sliderItem( require( './img/slider_1.jpg' ), "MEETFREEMAN" )
				+sliderItem( require( './img/slider_2.jpg' ), "BLUE2000" )
				+sliderItem( require( './img/slider_3.jpg' ), "BITCOIN WORLD" )
				+sliderItem( require( './img/slider_4.jpg' ), "MEXEER" )
				+sliderItem( require( './img/slider_2.jpg' ), "BLUE2000" )
		button.slider__next-btn( type="button" )
			i.fa.fa-chevron-right.slider__btn-icon