//- mixins
include head.pug

html
	head
		+head( 'главная' )
	body
		//- wrapper
		div.wrapper
			a.wrapper__link( href="/" )
			//- header
			header.header
				a.header__logo( href="/" ) 
					b.header__logo-accent Hyip
					| odrom
				div.header__log-wrap
					a.header__reg( href='/' ) Регистрация
					a.header__log( href='/' ) Вход


		
