/* wrapper */
.wrapper {
	position: relative;
	z-index: 0;

	width: 100%;

	background-color: $c_main_bg;

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		@extend %rncs;
		overflow: hidden;

		width: 100%;
		height: 980px;

		background-color: $c_text;

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;

			display: block;
			content: "";

			width: 100%;
			height: 100px;

			background: $c_link_bg_transition;
		}
	}
}

/* header */
.header {
	@extend %wrapper;
	@extend %h_paddings;
	@extend %rwsbs;

	padding-top: $base-lh;

	&__logo {
		font-family: $ff_logo;
		font-size: $fz4;
		line-height: $base-lh * 2;
		color: #fff;
		text-transform: uppercase;
	}

	&__logo-accent {
		color: $c_accent;
	}

	&__log-wrap {
		@extend %rnfsc;
	} 

	&__reg {
		@extend %light_link;

		margin-right: $base-lh;

		font-size: $fz6;
		line-height: $base-lh * 2;
	}

	&__log {
		@extend %small_btn;
	}
}

/* main-menu */
.main-menu {
	@extend %wrapper;
	@extend %h_paddings;
	@extend %rwfss;

	margin-top: $base-lh * 11;

	background-color: rgba(47, 47, 47, .5);

	&__nav {
		@extend %rnsbs;

		width: 50%;
		margin-left: 25%;
	}

	&__nav-item {
		@extend %rnfss;
	}

	&__nav-link {
		position: relative;

		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh * 3;
		color: #fff;
		text-transform: uppercase;

		transition: .3s;

		&::after {
			position: absolute;
			top: 0;
			left: 50%;

			display: block;
			content: "";

			width: 0;
			height: 2px;

			background-color: $c_accent;

			transition: .3s;
		}

		&:hover {
			color: $c_accent;

			&::after {
				left: 0;

				width: 100%;
			}
		}
	}

	&__search {
		@extend %rnfec;

		width: 25%;
	}

	&__search-input {
		@extend %form_input;

		width: 170px;
		height: 32px;
	}

	&__search-btn {
		@extend %rncc;

		width: 32px;
		height: 32px;

		color: $c_text;

		background-color: $c_links;

		transition: .3s;

		&:hover {
			color: $c_accent;
		}
	}

	&__search-icon {
		font-size: $fz5;
		font-weight: bold;
	}

}

/* main */
.main {
	@extend %wrapper;
	@extend %rnfss;

	margin-top: $base-lh;
}

/* post */
.post {
	width: getWidthFromCols( 8 );
}

/* loader */
.loader {
	padding: $base-lh 0;

	text-align: center;

	&__btn {
		@extend %large_btn;
	}
}

/* sidebar */
.sidebar {
	width: getWidthFromCols( 4 );
	height: 1000px;
	padding-left: $base-lh;
}

/* categories */
.categories {
	@extend %container_block;

	padding: $base-lh;

	background-color: #fff;

	&:hover {
	
		.sectionHeader__line-left::after,
		.sectionHeader__line-right::after {
			width: 100%;
		}
	}

	&__item-box {
		margin-top: $base-lh;
	}

	&__item-link {
		display: block;

		font-family: $ff_header;
		font-size: $fz5;
		font-weight: bold;
		line-height: $base-lh;
		color: $c_text;
		text-align: center;

		transition: .3s;

		&:hover {
			color: $c_accent;
		}
	}	
}

/* subscribe */
.subscribe {
	@extend %container_block;

	padding: $base-lh;

	background-color: #fff;

	&:hover {
	
		.sectionHeader__line-left::after,
		.sectionHeader__line-right::after {
			width: 100%;
		}
	}

	&__form {
		margin-top: $base-lh;
		text-align: center;
	}

	&__input {
		@extend %form_input;

		width: 240px;
		height: $base-lh * 1.5;
		margin-bottom: $base-lh;
	}

	&__submit {
		@extend %large_btn;
	}
}

/* footer */
.footer {
	@extend %wrapper;
	@extend %rwfss;

	margin-top: $base-lh;

	background-color: $c_text;

	&__about, &__contact-form, &__contacts {
		width: getWidthFromCols( 4 );
		padding: $base-lh;
	}

	&__header {
		margin-bottom: $base-lh;

		font-family: $ff_header;
		font-size: $fz6;
		font-weight: bold;
		line-height: $base-lh;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
	}

	&__text-link {
		font-family: $ff_text;
		font-size: $fz5;
		line-height: $base-lh; 
		color: $c_accent;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}	
	}

	&__text {
		font-family: $ff_text;
		font-size: $fz5;
		line-height: $base-lh; 
		color: #fff;
	}

	&__form {
		text-align: center;
	}

	&__input, &__textarea {
		@extend %form_input;

		width: 100%;
		margin-bottom: $base-lh;
	}

	&__input { height: $base-lh * 1.5; }
	&__textarea { 
		height: $base-lh * 6;
		padding-top: 10px; 
		padding-bottom: 10px; 
	}

	&__submit {
		@extend %large_btn;
	}

	&__contact-item {
		
	}

	&__contact-icon {
		width: 18px;
		margin-right: 10px;

		font-size: $fz5;
		line-height: $base-lh;
		color: $c_links;
		text-align: center;
	}

	&__contact-text {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_links; 
	}

	&__contact-link {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_accent;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		} 
	}
}