//- mixins
include head.pug
include ../components/sectionHeader/sectionHeader.pug

html
	head
		+head( 'главная' )
	body
		// wrapper
		div.wrapper
			a.wrapper__link( href="#ad" )
				img.wrapper__img( src=require( '../img/ad_bg.jpg' ) )
			// header
			header.header
				a.header__logo( href="/" ) 
					b.header__logo-accent Hyip
					| odrom
				div.header__log-wrap
					a.header__reg( href='/' ) Регистрация
					a.header__log( href='/' ) Вход
			// main-menu
			nav.main-menu
				ul.main-menu__nav
					li.main-menu__nav-item 
						a.main-menu__nav-link( href="/" ) Блог
					li.main-menu__nav-item
						a.main-menu__nav-link( href="/" ) Хайпы
					li.main-menu__nav-item
						a.main-menu__nav-link( href="/" ) Добавить хайп
					li.main-menu__nav-item
						a.main-menu__nav-link( href="/" ) Рефбек
					li.main-menu__nav-item
						a.main-menu__nav-link( href="/" ) Реклама
				form.main-menu__search
					input.main-menu__search-input( type="text" placeholder="Поиск" )
					button.main-menu__search-btn
						i.fa.fa-search.main-menu__search-icon
			include ../components/slider/slider.pug
			// main
			main.main
				section.post
					include ../components/postBox/postBox.pug
					// loader
					.loader
						button.loader__btn( type="button" ) Загрузить еще
				aside.sidebar
					// categories
					.categories
						+sectionHeader( 'Разделы' )
						ul.categories__item-box
							li.categories__item
								a.categories__item-link( href="/" ) Новичкам
							li.categories__item
								a.categories__item-link( href="/" ) Новости
							li.categories__item
								a.categories__item-link( href="/" ) Обзоры
							li.categories__item
								a.categories__item-link( href="/" ) Отсчеты
							li.categories__item
								a.categories__item-link( href="/" ) Интервью
							li.categories__item
								a.categories__item-link( href="/" ) Аналитика
					include ../components/tabs/tabs.pug
					// subscribe
					.subscribe
						+sectionHeader( 'Подписаться на рассылку' )
						form.subscribe__form
							input.subscribe__input( type="text" placeholder="Имя" )
							input.subscribe__input( type="text" placeholder="Email" )
							button.subscribe__submit Подписаться
			// footer
			footer.footer
				.footer__about
					h2.footer__header О сайте
					p.footer__text Большое количество хайпов не позволяет легко и точно следить за своими инвестициями. Цель 
						a.footer__text-link( href="/" ) Hyipodrom.com 
						| – помочь контролировать ваши вклады в хайпы и узнавать, какую прибыль они приносят. Ведение статистики потребует от вас минимальных действий, при этом все подсчеты ведутся онлайн в автоматическом режиме. Наш блог помогает постоянно быть в курсе последних новостей хайп-индустрии. А мониторинг является надежным помощником в правильном выборе проектов для инвестирования.
				.footer__contact-form
					h2.footer__header Обратная связь
					form.footer__form
						input.footer__input( type="text" placeholder="Имя" )
						input.footer__input( type="text" placeholder="Email" )
						textarea.footer__textarea( placeholder="Сообщение" )
						button.footer__submit Отправить
				.footer__contacts
					h2.footer__header Контакты
					ul.footer__contact-list
						li.footer__contact-item
							i.fa.fa-envelope.footer__contact-icon
							span.footer__contact-text hyipodrom@gmail.com
						li.footer__contact-item
							i.fa.fa-skype.footer__contact-icon
							a.footer__contact-link( href="/" ) hyipodrom_me
						li.footer__contact-item
							i.fa.fa-vk.footer__contact-icon
							a.footer__contact-link( href="/" ) hyipodrom_me
	include ../components/upButton/upButton.pug




		
