/* post-box */
.post-box {

	&__item {
		@extend %container_block;

		overflow: hidden;

		max-height: 383px;

		background-color: #fff;
	}

	&__header-wrap {
		padding: $base-lh;
	}

	&__item-header-link {
		font-family: $ff_header;
		font-size: $fz3;
		font-weight: bold;
		line-height: $base-lh * 1.2;
		color: $c_text;

		&:hover {
			color: lighten( $c_text, 20% );
		}
	}

	&__item-meta-info {
		@extend %rwfss;

		margin-top: $base-lh * 0.5;
	}

	&__item-meta-text, 
	&__item-meta-link {
		margin-right: $base-lh;

		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_sub_text;
	}

	&__item-meta-link {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__item-meta-icon {
		margin-right: 5px;

		font-size: $fz6;
		font-weight: bold;
		line-height: $base-lh;
	}

	&__info-wrap {
		@extend %rnfss;
	}

	&__item-thumbnail {
		padding-top: $base-lh;
		padding-left: $base-lh;
		padding-right: $base-lh;
		padding-bottom: $base-lh * 0.5;

		background-color: $c_text;
	}

	&__item-img {
		display: block;

		width: 240px;
		height: 176px;
	}

	&__item-social {
		@extend %rnfss;

		margin-top: $base-lh * 0.5;
	}

	&__item-social-item {
		flex-grow: 1;
	}

	&__item-social-link-vk,
	&__item-social-link-facebook,
	&__item-social-link-twitter,
	&__item-social-link-google {
		position: relative;
		z-index: 0;

		display: block;
		overflow: hidden;

		text-align: center;

		&::before {
			position: absolute;
			z-index: -1;

			display: block;
			content: '';

			width: 100%;
			height: 100%;

			transition: .3s;
		}
	}

	&__item-social-link-vk:hover::before { background-color: $c_vk; }
	&__item-social-link-facebook:hover::before { background-color: $c_facebook; }
	&__item-social-link-twitter:hover::before { background-color: $c_twitter; }
	&__item-social-link-google:hover::before { background-color: $c_google; }

	&__item-social-icon {
		font-size: $fz5;
		line-height: $base-lh * 1.5;
		color: #fff;
	}

	&__item-info {
		@extend %cnsbs;

		padding-left: $base-lh; 
		padding-right: $base-lh; 
		padding-bottom: $base-lh; 
	}

	&__item-excerpt {
		overflow: hidden;

		max-height: $base-lh * 8;

		font-family: $ff_text;
		font-size: $fz5;
		line-height: $base-lh;
		color: $c_text;
	}

	&__item-btn-wrap {
		@extend %rnfes;

		margin-top: $base-lh * 0.5;

		background: #fff;
	}

	&__item-btn {
		@extend %large_btn;
	}
}
