//postThumbnail
.postThumbnail
	a.postThumbnail__link( href="/post.html#post" )
		img.postThumbnail__img( src=require( '../../img/post_image.jpg' ) )
	ul.postThumbnail__social
		li.postThumbnail__social-item
			a.postThumbnail__social-link-vk( href="/" )
				i.fa.fa-vk.postThumbnail__social-icon
		li.postThumbnail__social-item
			a.postThumbnail__social-link-facebook( href="/" )
				i.fa.fa-facebook.postThumbnail__social-icon
		li.postThumbnail__social-item
			a.postThumbnail__social-link-twitter( href="/" )
				i.fa.fa-twitter.postThumbnail__social-icon
		li.postThumbnail__social-item
			a.postThumbnail__social-link-google( href="/" )
				i.fa.fa-google-plus.postThumbnail__social-icon