//postEscerpt
.postExcerpt
	p.postExcerpt__text Предлагаю всем, кто читает этот блог, посмотреть на наши с Вами достижения! Конечно, главные здесь инвесторы и без Вас, это всё невозможно! Вы вместе с нами топы и всем здесь заправляете :) Впереди еще много времени, не словом, а делом :) Предлагаю всем, кто читает этот блог, посмотреть на наши с Вами достижения! Конечно, главные здесь инвесторы и без Вас, это всё невозможно!
	a.postExcerpt__btn( href="/post.html#post" ) Читать