// postBox
ul.post-box
	include postItemExcerpt.pug
	include postItemExcerpt.pug
	include postItemExcerpt.pug
	include postItemExcerpt.pug
	include postItemExcerpt.pug
	include postItemExcerpt.pug
	include postItemExcerpt.pug
	include postItemExcerpt.pug
	include postItemExcerpt.pug
	include postItemExcerpt.pug