include postHeader.pug

li.post-box__item
	+postHeader( 'Hyipodrom.com - не просто TOP, а топовый во всём всего за год! Только факты, без флуда!', true )
	.post-box__info-wrap
		include postThumbnail.pug
		include postExcerpt.pug