include postHeader.pug

.post-box__item
	+postHeader( 'Hyipodrom.com - не просто TOP, а топовый во всём всего за год! Только факты, без флуда!', false )
	.post-box__info-wrap
		include postThumbnail.pug
		include postContent.pug