/* hyipAbout */
.hyipAbout {
	float: right;

	width: 100%;
	margin-bottom: $base-lh;

	@media ( min-width: 1100px ) {
		width: getWidthFromCols( 4 );
		padding-left: $base-lh;
	}

	&:hover {
	
		.sectionHeader__line-left::after,
		.sectionHeader__line-right::after {
			width: 100%;
		}
	}

	&__wrap {
		padding: $base-lh 0;

		background-color: $c_text;
	}

	&__body-wrap {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: center;

		@media ( min-width: 650px ) {
			flex-flow: row nowrap;
		}

		@media ( min-width: 1100px ) {
			flex-flow: column nowrap;
		}
	}
}

/* hyipAboutThumbnail */
.hyipAboutThumbnail {

	width: 100%;

	&__img-wrap {
		margin: $base-lh auto 0 auto;
		width: 300px;
		height: 220px;

		&.hyipAboutThumbnail__img-wrap--dead {
			@extend %dead_img;
		}
	}

	&__img {
		display: block;

		width: 300px;
		height: 220px;
	}

	&__link-wrap {
		margin: $base-lh * 0.5 0;

		text-align: center;
	}

	&__link {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_accent;

		transition: .3s;

		&:hover {
			color: #fff;
		}	
	}
}

/* hyipAboutInfo */
.hyipAboutInfo {

	width: 100%;
	padding: 0 $base-lh;

	&__item {
		@extend %rnsbs;
	}

	&__title {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: #fff;
	}

	&__value {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_sub_text;

		&.hyipAboutInfo__value--alive { color: $c_sub_accent; }
		&.hyipAboutInfo__value--dead { color: $c_dead; }
	}

	&__paysystems {
		@extend %rnfss;
	}

	&__paysystem-item {
		@extend %rncc;

		margin-left: 4px;
	}

}

/* paysystem */
.paysystem {
	&__perfectMoney,
	&__bitcoin,
	&__okPay,
	&__visa {
		width: 16px;
		height: 16px;

		background: url( '../img/payments.png' ) no-repeat;
	}
		

	&__perfectMoney {
		background-position: 0 0;
	}

	&__bitcoin {
		background-position: 0 -20px;
	}

	&__okPay {
		background-position: 0 -200px;
	}

	&__visa {
		background-position: 0 -240px;
	}
}