/* comments */
.comments {
	@extend %container_block;

	background-color: #fff;

	padding-top: $base-lh;

	&:hover {
	
		.sectionHeader__line-left::after,
		.sectionHeader__line-right::after {
			width: 100%;
		}
	}

	&__box {
		margin-top: $base-lh;
	}
}

/* commentsItem */
.comments__box > .commentsItem {
	padding-top: $base-lh;
	padding-left: $base-lh;
	padding-right: $base-lh;

	&:nth-child( even ) {
		background-color: $c_text;

		& .commentsItem__name-link:hover,
		& .commentsRespond__btn:hover {
			color: #fff;
		}

		& .commentsItem__content {
			color: #fff;
		}

		& .commentsForm__text {
			color: #fff;
		}
	}
}


.commentsItem {
	@extend %rnfss;

	&__avatar {
		margin-right: $base-lh;
	}

	&__avatar-img {
		display: block;

		width: 44px;
		height: 44px;
	}

	&__rate-wrap {
		text-align: center;
	}

	&__rate-btn {
		margin-right: 5px;

		font-size: $fz6;
		color: $c_sub_accent;

		&:hover {
			color: darken( $c_sub_accent, 10% );
		}
	}

	&__rate-display {
		font-family: $ff_header;
		font-size: $fz6;
		color: $c_sub_text;
	}

	&__meta-header {
		@extend %rnsbs;
	}

	&__name-link {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_accent;

		transition: .3s;

		&:hover {
			color: $c_text;
		}
	}

	&__date {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_sub_text;
	}

	&__body {
		width: 100%;
	}

	&__content {
		font-family: $ff_text;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_text;

		h2 {
			font-family: $ff_header;
			font-size: $fz5;
			font-weight: bold;
		}

		img {
			display: block;

			width: 100%;
			margin: $base-lh 0;
		}

		a {
			font-family: $ff_header;
			color: $c_accent;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		b {
			font-weight: bold;
		}
	}
}

/* commentsForm */
.commentsForm {
	@extend %container_block;

	background-color: #fff;

	padding-top: $base-lh;
	padding-left: $base-lh;
	padding-right: $base-lh;

	&:hover {
	
		.sectionHeader__line-left::after,
		.sectionHeader__line-right::after {
			width: 100%;
		}
	}

	&__wrap {
		overflow: hidden;

		padding: $base-lh 0;

		text-align: center;
	}

	&__text {
		font-family: $ff_text;
		font-size: $fz5;
		line-height: $base-lh;
		color: $c_text;
	}

	&__link {
		font-family: $ff_header;
		line-height: $base-lh;
		color: $c_accent;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__input {
		@extend %form_input;

		width: 80%;
		height: $base-lh * 8;
		padding-top: 10px;
		padding-bottom: 10px;
		margin: $base-lh 0;
	}

	&__submit {
		@extend %large_btn;
	}
}

/* commentsRespond */
.commentsRespond {

	& .commentsForm__wrap { display: none; }
	& .commentsForm__text { font-size: $fz6; }

	&__btn-wrap {
		padding-bottom: $base-lh;

		text-align: right;
	}

	&__btn {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_accent;
		text-align: right;

		transition: .3s;

		&:hover {
			color: $c_text;
		}
	}
}