/* hyipItemExcerpt */
.hyipItemExcerpt {
	@extend %container_block;

	background-color: #fff;

	&__info-wrap {
		@extend %rwfss;

		@media ( min-width: 650px ) {
			flex-flow: row nowrap;
		}
	}
}

/* hyipHeader */
.hyipHeader {

	padding: $base-lh;

	&__text {
		font-family: $ff_header;
		font-size: $fz4;
		font-weight: bold;
		line-height: $base-lh * 1.2;
		color: $c_text;
		text-align: center;

		@media ( min-width: 650px ) {
			font-size: $fz3;
		}
	}

	&__link {

		&:hover {
			color: lighten( $c_text, 20% );
		}
	}

	&__meta-info {
		@extend %rwcs;

		margin-top: $base-lh * 0.5;
	}

	&__meta-item {
		width: 100%;

		@media ( min-width: 420px ) {
			width: auto;
		}
	}

	&__meta-text,
	&__meta-link {
		margin-right: $base-lh;

		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_sub_text;
	}

	&__meta-text.hyipHeader__meta-text--accent {
		color: $c_text;
	}

	&__meta-link {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__meta-icon {
		margin-right: 5px;

		font-size: $fz6;
		font-weight: bold;
		line-height: $base-lh;
	}

	&__meta-btn { 
		font-size: $fz5;
		color: $c_star;

		&:hover {
			transform: scale(1.2);
		}
	}
}

/* hyipThumbnail */
.hyipThumbnail {
	width: 100%;
	padding-top: $base-lh;
	padding-left: $base-lh;
	padding-right: $base-lh;
	padding-bottom: $base-lh * 0.5;
	
	background-color: $c_text;

	@media ( min-width: 650px ) {
		width: auto;
		margin-right: $base-lh;
	}

	&__link {
		display: block;

		width: 240px;
		height: 176px;
		margin: 0 auto;

		&.hyipThumbnail__link--dead {
			@extend %dead_img;
		}
	}

	&__img {
		display: block;

		max-width: 100%;
		max-height: 100%;
	}

	&__status-wrap {
		@extend %rncs;

		padding-top: $base-lh * 0.5;
	}

	&__status-title {
		margin-right: 5px;

		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: #fff;
	}

	&__status-alive,  
	&__status-dead { 
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
	}

	&__status-alive { color: $c_sub_accent;  }
	&__status-dead { color: $c_dead;  }
}

/* hyipExcerpt */
.hyipExcerpt {
	width: 100%;
	padding-bottom: $base-lh;

	@media ( min-width: 650px ) {
		padding-right: $base-lh;
	}

	&__text {
		@extend %rwcc;

		overflow: hidden;

		height: $base-lh * 5;

		font-family: $ff_text;
		font-size: $fz5;
		line-height: $base-lh;
		color: $c_text; 
	}

	&__deposits {
		@extend %rnfss;

		margin: $base-lh * 0.5 0;
	}

	&__deposit-item {
		width: 100%;
	}

	&__deposit-header {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_sub_text;
		text-align: center; 
	}

	&__deposit-value {
		font-family: $ff_header;
		font-size: $fz5;
		font-weight: bold;
		line-height: $base-lh;
		color: $c_text;
		text-align: center; 

		&.hyipExcerpt__deposit-value--investors {
			color: $c_sub_accent;
		}
	}

	&__btn-wrap {
		@extend %rncs;

		@media ( min-width: 650px ) {
			justify-content: flex-end;
		}
	}

	&__btn {
		@extend %large_btn;
	}
}