/* header */
.header {
	@extend %wrapper;
	@extend %h_paddings;
	@extend %rwsbs;

	padding-top: $base-lh;
	margin-bottom: $base-lh * 11;

	&__logo {
		font-family: $ff_logo;
		font-size: $fz4;
		line-height: $base-lh * 2;
		color: #fff;
		text-transform: uppercase;
	}

	&__logo-accent {
		color: $c_accent;
	}

	&__position-wrap {
		@extend %rncs;

		width: 100%;

		@media ( min-width: 768px ) {
			width: auto;
		}
	}

	&__userPanel-wrap {
		position: relative;
	}

	&__user-wrap {
		@extend %rncc;
	} 

	&__reg-wrap {
		@extend %cnfsc;

		@media ( min-width: 768px ) {
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
		}
	} 

	&__reg {
		@extend %light_link;

		font-size: $fz6;
		line-height: $base-lh * 2;

		@media ( min-width: 768px ) {
			margin-right: $base-lh;
		}
	}

	&__log {
		@extend %small_btn;
	}

	&__user-name {
		margin-right: $base-lh * 0.5;

		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh * 2;
		color: #fff;

		transition: .3s;

		&:hover {
			color: $c_accent;
		}
	}

	&__user-avatar {
		width: $base-lh;
		height: $base-lh;
	}

	&__user-popup {
		position: absolute;
		top: $base-lh * 2;
		right: 0;

		display: none;

		padding: $base-lh * 0.5;

		background-color: $c_text;
	}

	&__user-popup-link {
		@extend %light_link;

		display: block;

		font-size: $fz6;
		line-height: $base-lh;
		white-space: nowrap;
	}

	&__mobile-menu {
		@extend %rncc;

		width: $base-lh * 2; 
		height: $base-lh * 2; 

		color: #fff;

		background-color: $c_accent;

		transition: .3s;

		&:hover {
			background-color: $c_text;
		}

		@media ( min-width: 768px ) {
			display: none;
		}
	}

	&__mobile-menu-icon {
		font-size: $fz3;
	}
}