/* userInfo */
.userInfo {
	float: right;

	width: 100%;
	margin-bottom: $base-lh;

	@media ( min-width: 1100px ) {
		width: getWidthFromCols( 4 );
		padding-left: $base-lh;
	}

	&__wrap {
		@extend %cnfss;

		padding: $base-lh 0;

		background-color: $c_text;

		@media ( min-width: 650px ) {
			flex-flow: row nowrap;
		}

		@media ( min-width: 1100px ) {
			flex-flow: column nowrap;
		}
	}

	&__avatar {
		width: 100%;

		@media ( min-width: 1100px ) {
			margin-bottom: $base-lh;
		}
	}

	&__name {
		margin-bottom: $base-lh;

		font-family: $ff_header;
		font-size: $fz5;
		line-height: $base-lh;
		color: #fff;
		text-align: center;
	}

	&__img-wrap {
		@extend %rncc;
	}

	&__img {
		display: block;

		width: $base-lh * 6;
		height: $base-lh * 6;
	}

	&__change-btn-wrap {
		@extend %rncc;
	}

	&__change-btn {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_accent;

		transition: .3s;

		&:hover {
			color: #fff;
		}
	}

	&__body {
		width: 100%;
		padding: 0 $base-lh;
	}

	&__item {
		@extend %rnsbs;
	}

	&__item-title {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: #fff;
	}

	&__item-value {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_sub_text;

		&.userInfo__item-value--accent { color: $c_sub_accent; }
	}
}