mixin sliderItem( imgSrc, title )
	.sliderItem
		a.sliderItem__link( href='/' )
			img.sliderItem__img( src= imgSrc )
			.sliderItem__popup
				h2.sliderItem__header= title
				ul.sliderItem__info
					li.sliderItem__info-item
						span.sliderItem__info-title Ваш вклад
						span.sliderItem__info-value.sliderItem__info-value--investor 320$
					li.sliderItem__info-item
						span.sliderItem__info-title Наш вклад
						span.sliderItem__info-value 720$
					li.sliderItem__info-item
						span.sliderItem__info-title Страховка
						span.sliderItem__info-value 1000$
