//- mixins
include paneItemHyip.pug

// tabs
.tabs
	ul.tabs__btn-box
		li.tabs__btn-item
			button.tabs__btn( type="button" data-index=1 ) Рейтинг
		li.tabs__btn-item
			button.tabs__btn( type="button" data-index=2 ) Новые
		li.tabs__btn-item
			button.tabs__btn( type="button" data-index=3 ) Страховка
		li.tabs__btn-item
			button.tabs__btn( type="button" data-index=4 ) Морг
	ul.tabs__pane-box
		li.tabs__pane-item( data-index=1 )
			ul.tabs__list
				+paneItem( require( '../img/slider_1.jpg' ), 'MEETFREEMAN', '149', false, true )
				+paneItem( require( '../img/slider_1.jpg' ), 'MEETFREEMAN', '149', false, true )
				+paneItem( require( '../img/slider_1.jpg' ), 'MEETFREEMAN', '149', false, true )
				+paneItem( require( '../img/slider_1.jpg' ), 'MEETFREEMAN', '149', false, true )
				+paneItem( require( '../img/slider_1.jpg' ), 'MEETFREEMAN', '149', false, true )
		li.tabs__pane-item( data-index=2 )
			ul.tabs__list
				+paneItem( require( '../img/slider_2.jpg' ), 'BLUE2000', '1 день', 'работает' )
				+paneItem( require( '../img/slider_2.jpg' ), 'BLUE2000', '2 дня', 'работает' )
				+paneItem( require( '../img/slider_2.jpg' ), 'BLUE2000', '3 дня', 'работает' )
				+paneItem( require( '../img/slider_2.jpg' ), 'BLUE2000', '4 дня', 'работает' )
				+paneItem( require( '../img/slider_2.jpg' ), 'BLUE2000', '5 дней', 'работает' )
		li.tabs__pane-item( data-index=3 )
			ul.tabs__list
				+paneItem( require( '../img/slider_3.jpg' ), 'BITCOIN WORLD', '3000$' )
				+paneItem( require( '../img/slider_3.jpg' ), 'BITCOIN WORLD', '3000$' )
				+paneItem( require( '../img/slider_3.jpg' ), 'BITCOIN WORLD', '3000$' )
				+paneItem( require( '../img/slider_3.jpg' ), 'BITCOIN WORLD', '3000$' )
				+paneItem( require( '../img/slider_3.jpg' ), 'BITCOIN WORLD', '3000$' )
		li.tabs__pane-item( data-index=4 )
			ul.tabs__list
				+paneItem( require( '../img/slider_4.jpg' ), 'MEXEER', '1 день назад', 'умер', false, true )
				+paneItem( require( '../img/slider_4.jpg' ), 'MEXEER', '1 день назад', 'умер', false, true )
				+paneItem( require( '../img/slider_4.jpg' ), 'MEXEER', '1 день назад', 'умер', false, true )
				+paneItem( require( '../img/slider_4.jpg' ), 'MEXEER', '1 день назад', 'умер', false, true )
				+paneItem( require( '../img/slider_4.jpg' ), 'MEXEER', '1 день назад', 'умер', false, true )