mixin scopeTranseferer
	// in order to see the global scope for the code below
	// the partial must declare some mixin

//-------------------------------------------

if ( page === 'user' )
	// header
	header.header
		a.header__logo( href="/" ) 
			b.header__logo-accent Hyip
			| odrom
		button.header__mobile-menu( type="button" data-modal-trigger="mobileMenu" )
			i.fa.fa-bars.header__mobile-menu-icon
		.header__position-wrap
			.header__userPanel-wrap
				.header__user-wrap( data-entity="user" )
					a.header__user-name( href='/user.html' ) Keanu Reeves
					img.header__user-avatar( src=require( './img/avatar.jpg' ) )
				ul.header__user-popup( data-entity="popup" )
					li.header__user-popup-item
						a.header__user-popup-link( href="/user.html" ) Личный кабинет
					li.header__user-popup-item
						button#logout.header__user-popup-link( type="button" ) Выход
		
else
	// header
	header.header
		a.header__logo( href="/" ) 
			b.header__logo-accent hyip
			| odrom
		button.header__mobile-menu( type="button" data-modal-trigger="mobileMenu" )
			i.fa.fa-bars.header__mobile-menu-icon
		.header__position-wrap
			.header__reg-wrap
				button.header__reg( type='button' data-modal-trigger="registration" ) Регистрация
				button.header__log( type='button' data-modal-trigger="login" ) Вход
			