include ../sectionHeader/sectionHeader.pug

//comments
#comments.comments
	+sectionHeader( 'Комментарии' )
	ul.comments__box
		include commentsItem.pug
		include commentsItem.pug
		include commentsItem.pug
		include commentsItem.pug