.commentsForm__wrap
	p.commentsForm__text Комментарии проходят премодерацию, перед добавлением соит ознакомиться с 
		a.commentsForm__link( href="/" ) правилами
	form.commentsForm__form
		.commentsForm__input-wrap
			textarea.commentsForm__input( placeholder="Комментарий" )
		button.commentsForm__submit Добавить