//commentsItem
li.commentsItem
	.commentsItem__avatar
		a.commentsItem__avatar-link( href="/" )
			img.commentsItem__avatar_img( src=require( '../../img/avatar.png' ) )
		.commentsItem__rate-wrap
			button.commentsItem__rate-btn( type="button" )
				i.fa.fa-thumbs-up.commentsItem__rate-icon
			span.commentsItem__rate-display 0
	.commentsItem__body
		.commentsItem__meta-header
			a.commentsItem__name-link( href="/" ) Joseph Stalin
			span.commentsItem__date 02.12.2016 20:55:44
		.commentsItem__content
			p 1. Проект Добро
			p Проект предлагает разумный процентный план среди множества других проектов, сделал очень необычный шаг, предложил страховку 77% для вкладчиков. Данную страховку переводят на хранение администраторам многих блогов. Такие деньги (а это уже крупная сумма) проекту терять бессмысленно, глупо даже, если только администратор не в сговоре со всеми держателями страховки))) Но вероятность этого ничтожно мала! Администратор очень общительный и отзывчивый. Новый год переживет, верю в Добро. 
			p 2. Capella 
			p Investment Необычный проект на фоне многих, так как есть ограничение на минимальный вклад, ограничение на вывод, то есть отсеиваются все мелочные вкладчики. Есть определенный график, распорядок по начислению процентов, по выплатам. Очень интересно себя ведет администратор, никого не тянет, не рассказывает байки. У проекта все шансы пережить новый год.
			p 3. iHands
			p Интересный проект, грамотный администратор. Верится, что команда проекта так же, как и у предыдущих двух, не занимается обычным сбором денег, а пускает их в приумножающий оборот при помощи своих инструментов. Интересные планы. Думаю, что и этот проект переживет новый год.
		include commentsRespond.pug
		ul.commentsItem__inner-box
			li.commentsItem
				.commentsItem__avatar
					a.commentsItem__avatar-link( href="/" )
						img.commentsItem__avatar_img( src=require( '../../img/avatar.png' ) )
					.commentsItem__rate-wrap
						button.commentsItem__rate-btn( type="button" )
							i.fa.fa-thumbs-up.commentsItem__rate-icon
						span.commentsItem__rate-display 0
				.commentsItem__body
					.commentsItem__meta-header
						a.commentsItem__name-link( href="/" ) Joseph Stalin
						span.commentsItem__date 02.12.2016 20:55:44
					.commentsItem__content
						p Fuck you
					include commentsRespond.pug
