//- mixins
include pug/head/head.pug
//- states
- var page = 'blog';
- var blogType = 'index';


html
	head
		+head( 'главная' )
	body
		// wrapper
		div.wrapper
			a.wrapper__link( href="#ad" style="background-image: url( '/img/ad_bg.jpg' );" )
			include pug/header/header.pug
			include pug/mainMenu/mainMenu.pug
			include pug/slider/slider.pug
			// main
			main.main
				// post
				section#post.post
					include pug/postBox/postBox.pug
					include pug/postLoader/postLoader.pug
				// sidebar
				aside.sidebar
					include pug/categories/categories.pug
					include pug/tabs/tabs.pug
					include pug/subscribe/subscribe.pug
			include pug/footer/footer.pug
		include pug/upButton/upButton.pug
		include pug/tooltip/tooltip.pug
		include pug/modals/modals.pug
		script( src='https://www.gstatic.com/charts/loader.js' )
		include pug/globalData.pug




		
