//- mixins
include pug/head/head.pug
//- states
- var page = 'user';

html
	head
		+head( 'личный кабинет' )
	body
		// wrapper
		div.wrapper
			a.wrapper__link( href="#ad" style="background-image: url( '/img/ad_bg.jpg' );" )
			include pug/header/header.pug
			include pug/mainMenu/mainMenu.pug
			include pug/slider/slider.pug
			// main
			main.main
				include pug/userInfo/userInfo.pug
				// post
				section#post.post
					include pug/userCabinet/userCabinet.pug
				//- // sidebar
				//- aside.sidebar				
			include pug/footer/footer.pug
		include pug/upButton/upButton.pug
		include pug/tooltip/tooltip.pug
		include pug/modals/modals.pug
		script( src='https://www.gstatic.com/charts/loader.js' )
		include pug/globalData.pug