.tooltips
	ul#depositTooptip.depostiTooltip
		li.depostiTooltip__item
			span.depostiTooltip__title Кол-во вкладов
			span.depostiTooltip__value 8
		li.depostiTooltip__item
			span.depostiTooltip__title Средний вклад
			span.depostiTooltip__value 28.56$
		li.depostiTooltip__item
			span.depostiTooltip__title Мин.вклад
			span.depostiTooltip__value 20$
		li.depostiTooltip__item
			span.depostiTooltip__title Макс.вклад
			span.depostiTooltip__value 50$