//userCabinet
.userCabinet
	ul.userCabinetTabs
		li.userCabinetTabs__item
			button.userCabinetTabs__btn( type="button" data-index=1 ) Портфели
		li.userCabinetTabs__item
			button.userCabinetTabs__btn( type="button" data-index=2 ) Рефбеки
		li.userCabinetTabs__item
			button.userCabinetTabs__btn( type="button" data-index=3 ) Страховки
	ul.userCabinetPanes
		li.userCabinetPanes__item( data-index=1 ) Портфели	
		li.userCabinetPanes__item( data-index=2 ) Рефбеки
		li.userCabinetPanes__item( data-index=3 ) Страховки
	