/* tabs */
.tabs {
	@extend %container_block;

	width: 100%;

	background-color: #fff;

	&__btn-box {
		@extend %rnfss;
	}

	&__btn-item {
		flex-grow: 1;
	}

	&__btn {
		position: relative;

		width: 100%;
		border: 1px solid $c_main_bg;

		font-family: $ff_header;
		font-size: $fz6;
		font-weight: bold;
		line-height: $base-lh * 2;
		color: $c_text;

		&::after {
			position: absolute;
			top: -1px;
			left: 0;

			display: block;
			content: '';

			width: 100%;
			height: 0px;

			background-color: $c_accent;
		}

		&:hover::after,
		&.tabs__btn--active::after { height: 2px; }
	}

	&__pane-item {
		display: none;
		padding: $base-lh;

		&.tabs__pane-item--active {
			display: block;
		}
	}

	&__list-item {
		@extend %rnfss;

		&:not( :last-child ) {
			margin-bottom: $base-lh;
		}
	}

	&__list-img {
		display: block;

		width: 98px;
		height: 72px;

		@media ( min-width: 420px ) {
			width: 120px;
			height: $base-lh * 4;
		}
	}

	&__list-info {
		@extend %cncs;

		margin-left: $base-lh;

		@media ( min-width: 1100px ) {
			justify-content: flex-start;
		}
	}

	&__list-header {
		overflow: hidden;

		max-height: $base-lh * 2;

		@media ( min-width: 420px ) {
			max-height: $base-lh * 3;
		}
	}

	&__list-header-link {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		font-weight: bold;
		color: $c_text;

		@media ( min-width: 420px ) {
			font-size: $fz5;
		}

		&:hover {
			color: lighten( $c_text, 20% );
		}
	}

	&__list-meta-icon {
		margin-right: 5px;

		font-size: $fz6;
		line-height: $base-lh;
		color: $c_sub_text;
	}

	&__list-meta-text, 
	&__list-meta-link {
		font-family: $ff_header;
		font-size: $fz7;
		line-height: $base-lh;
		color: $c_sub_text;

		@media ( min-width: 420px ) {
			font-size: $fz6;
		}
	}

	&__list-meta-link {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

/* paneItemHyip */
.paneItemHyip {
	@extend %rnsbc;

	&:not( :last-child ) {
		margin-bottom: $base-lh;
	}

	&__img-link {

		&.paneItemHyip__img-link--dead {
			@extend %dead_img;
		}
	}

	&__img {
		display: block;

		width: 90px;
		height: 66px;
	}

	&__header-link {
		font-family: $ff_header;
		font-size: $fz5;
		font-weight: bold;
		line-height: $base-lh;
		color: $c_text;

		&:hover {
			color: lighten( $c_text, 20% );
		}
	}

	&__meta-text {
		font-family: $ff_header;
		font-size: $fz6;
		line-height: $base-lh;
		color: $c_sub_text;
		text-align: center;
	}

	&__rate-icon {
		margin-right: 3px;

		color: $c_star;
	}
}